* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: black;
    background: white;
}

.page {
    background: #CD59CF;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.small_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 64px;
    top: 9px;
    left: 85px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px 0px #21212142;
}

.big_container {
    position: absolute;
    width: 470px;
    height: 400px;
    top: 105px;
    left: 85px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px 0px #21212142;
}

.timer__budilnik__knopki {
    display: flex;
    gap: 13px;
}

.timer, .budilnik {
    width: 32px;
    height: 32px;
    display: block;
}

.time__centr {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.time__text {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    color: #3C3C3C;
}