* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: black;
    background: white;
}

.page {
    background: #CD59CF;
    width: 100vw;
    height: 100vh;
}

.small_container {
    position: absolute;
    width: 110px;
    height: 64px;
    top: 9px;
    left: 85px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px 0px #21212142;
}

.big_container {
    position: absolute;
    width: 470px;
    height: 400px;
    top: 105px;
    left: 85px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px 0px #21212142;
}