* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: black;
    background: white;
}

.page {
    background: #CD59CF;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.small_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 64px;
    top: 9px;
    left: 85px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px 0px #21212142;
}

.big_container {
    position: absolute;
    width: 470px;
    height: 400px;
    top: 105px;
    left: 85px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px 0px #21212142;
}

.timer__budilnik__knopki {
    display: flex;
    gap: 13px;
}

.timer, .budilnik {
    width: 32px;
    height: 32px;
    display: block;
}

.knopka__nazvanie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 48px;
    margin-right: 31.5px;
}

.nazvanie {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    color: #3C3C3C;
}

.peresapusk{
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: #FF0000A3
}

.time__centr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 24px;
}

.time__text {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    color: #3C3C3C;
}

.time__input {
    height: 34px;
    width: 105px;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    border-radius: 4px;
    border: 0;
    background: #ECE7E7;
    outline: none;
}

.time__input::placeholder{
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #6A6A6A70;
}

.time__button {
    width: 59px;
    height: 25px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    background: #ECE7E7;
    font-weight: 400;
    font-size: 16px;
    color: #FF0000A3;
}